:root {
    --bg-main: hsl(217, 54%, 11%);
    --bg-secondary: hsl(216, 50%, 16%);
    --text: hsl(215, 51%, 70%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(178, 100%, 50%);
    --primary: red;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--bg-main);
}

h1 {
    font-family: 'Rubik Mono One', monospace;
    font-size: 110px;
    color: var(--white);
    text-align: center;
    padding-top: 30px;
    text-decoration: underline;
    user-select: none;
}

i {
    font-size: 25px;
}

.box-shadow {
    box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.4);
}

.content {
    display: flex;
    gap: 1px;
    justify-content: center;
    padding-top: 80px;
}

.panel {
    background-color: var(--line);
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 600px;
    padding: 15px;
}

.sketch-area {
    background-color: var(--line);
    width: 600px;
    height: 600px;
}

.btn {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin-bottom: 15px;
}

input[type="color"] {
    appearance: none;
    top: 8px;
    left: 8px;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 0;
    background-color: transparent;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: solid black 2px;
}

.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    z-index: 1;
}